<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.DebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wjf.fadebreak.DEBUG_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
